<!DOCTYPE html>
<head>
    <title>MYSSD</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
</head>
<body>
    <div class="titulos">
        <!-- <h1 class="main-title">Modelado y Simulación de Sistemas Dinámicos</h1> -->
        <h2 class="main-title">Historial de contaminantes en Monterrey y su área metropolitana</h2>
    </div>
    <div class="contenedor-info">
        <div class="general-info">
            <p>La zona metropolitana de Nuevo León tiene un problema de contaminación. </p>
            <p>Nosotros como ciudadanos podemos creer que no tenemos otra alternativa más que aceptar lo que tenemos.</p>
            <p>La verdad es que no es así; si tenemos información y voluntad para cambiar nuestro al rededor.</p>
            <p>Los siguientes son datos históricos y predicciones que podemos usar para conocer nuestro entorno.</p>

        </div>
        <h2 class="titulo-contaminantes">- CONTAMINANTES -</h2>
        <p style="text-align: center;">Da clic en algún contaminante para conocer más sobre ellos</p>
        <div class="nav-contaminantes">
            <div id="btn-get-datos-PM10" class="cont-selector">PM<sub>10</sub></div>
            <div id="btn-get-datos-PM25" class="cont-selector">PM<sub>2.5</sub></div>
            <div id="btn-get-datos-SO2" class="cont-selector">SO<sub>2</sub></div>
            <div id="btn-get-datos-Ozono" class="cont-selector">0zono</div>
            <div id="btn-get-datos-CO" class="cont-selector">CO<sub>2</sub></div>
            <div id="btn-get-datos-NO2" class="cont-selector">NO<sub>2</sub></div>
        </div>
        <div id="contaminante-info" style="display: none;">
            <div class="container-grafica" id="cont-PM10" >
                <div class="header-grafica">
                    <div class="info-actual">
                        <p>Contaminante LOQUE ES</p>
                        <p id="info-cont"></p>
                        <p class="contaminante-hora" ><span id="hora-cont"></span></p>
                    </div>
                    <div class="info-prediccion">
                        <p>prediccionjiones</p>
                    </div>
                </div>
                <div class="body-grafica">
                    <div id="contaminante-grafica" class="grafica-actual"></div>
                    <div id="contaminante-prediccion" class="grafica-prediccion"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static',filename='javascript/index.js') }}" ></script>
    <script>

        const contaminantesTipos = {
            PM10  : 'PM10',
            CO    : 'CO',
            Ozono : 'Ozono',
            PM25  : 'PM25',
            SO2   : 'SO2',
            NO2   : 'NO2'
        };

        //con este botón, se manda a llamar la función en back para traer los valores
        //BOTON PM10
        let btnGetValuesPM10 = document.getElementById('btn-get-datos-PM10');
        btnGetValuesPM10.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='PM10') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.PM10);
        });

        //BOTON CO
        let btnGetValuesCO = document.getElementById('btn-get-datos-CO');
        btnGetValuesCO.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='CO') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.CO);        
        });

        //BOTON OZONO
        let btnGetValuesOzono = document.getElementById('btn-get-datos-Ozono');
        btnGetValuesOzono.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='Ozono') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.Ozono);            
        });

        //BOTON PM 2.5
        let btnGetValuesPM25 = document.getElementById('btn-get-datos-PM25');
        btnGetValuesPM25.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='PM25') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.PM25);            
        });

        //BOTON SO2
        let btnGetValuesSO2 = document.getElementById('btn-get-datos-SO2');
        btnGetValuesSO2.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='SO2') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.SO2);            
        });

        //BOTON NO2
        let btnGetValuesNO2 = document.getElementById('btn-get-datos-NO2');
        btnGetValuesNO2.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='NO2') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.NO2);            
        });

        let drawPaht = () =>{
            var canvas = document.getElementById("puntos");
            var context = canvas.getContext('2d');
            if(canvas.getContext){
                //Background is static
                var b64 = canvas.toDataURL();
                canvas.style.backgroundImage = 'url(' + "{{ url_for('static', filename='images/espacio.png') }}" + ")";
                
                let xPos = 100, yPos = 100;
                    
                var t = setInterval(()=>{
                    if(xPos > canvas.clientWidth || yPos > canvas.clientHeight){
                        clearInterval(t);
                    }
                    context.beginPath();
                    context.arc(xPos,yPos,20,0,2*Math.PI);
                    context.fillStyle = 'rgb(128,128,128)';
                    context.fill();
                    xPos += 60;
                    yPos += 60;
                    console.log("sigue...");
                }, 1000);

                context.beginPath();
                context.arc(55,55,50,0,2 * Math.PI);    //x,y,inicio angulo,fin angulo,parte de círculo
                
                context.stroke();
            }else{
                console.log("nah");
            }
        }

        let draw = ()=>{
            var canvas = document.getElementById("tuto");
            if(canvas.getContext){
                var context = canvas.getContext('2d');
                context.fillStyle = 'rgb(200,0,0)';
                context.fillRect(10,10,50,50);  //de rojo solo esta parte de los pixeles

                context.fillStyle = 'rgba(0,0,200,0.5)';
                context.fillRect(30,30,50,50);

                context.strokeRect(20,20,90,09);
                context.clearRect(20,25,20,20);
                
            }else{
                console.log("boo too bad")
            }
        }
        
    </script>
</body>