<!DOCTYPE html>
<head>
    <title>MYSSD</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
</head>
<body>
    <div class="titulos">
        <h1>Modelado y Simulación de Sistemas Dinámicos</h1>
        <h3>Historial de contaminantes en Monterrey y su área metropolitana</h3>
    </div>
    <div class="contenedor-info">
        <div class="mapas">
            <div class="container-grafica">
                <div class="header-grafica">
                    <p><strong>Contaminante PM10 </strong> Día : <span id="dia-contaminante-PM10"></span> de Mayo</p>
                    <button id="btn-get-datos-PM10">Ver niveles de contaminación</button>
                </div>
                <div id="contaminante-PM10" class="grafica-contaminante"></div>
            </div>
            <div class="container-grafica">
                <div class="header-grafica">
                    <p><strong>Contaminante PM 2.5</strong> Día : <span id="dia-contaminante-PM25"></span> de Mayo</p>
                    <button id="btn-get-datos-PM25">Ver niveles de contaminación</button>
                </div>
                <div id="contaminante-PM25" class="grafica-contaminante"></div>
            </div>
            <div class="container-grafica">
                <div class="header-grafica">
                    <p><strong>Contaminante CO</strong> Día : <span id="dia-contaminante-CO"></span> de Mayo</p>
                    <button id="btn-get-datos-CO">Ver niveles de contaminación</button>
                </div>
                <div id="contaminante-CO" class="grafica-contaminante"></div>
            </div>
            <div class="container-grafica">
                <div class="header-grafica">
                    <p><strong>Contaminante NO 2</strong> Día : <span id="dia-contaminante-NO2"></span> de Mayo</p>
                    <button id="btn-get-datos-NO2">Ver niveles de contaminación</button>
                </div>
                <div id="contaminante-NO2" class="grafica-contaminante"></div>
            </div>
            <div class="container-grafica">
                <div class="header-grafica">
                    <p><strong>Contaminante Ozono</strong> Día : <span id="dia-contaminante-Ozono"></span> de Mayo</p>
                    <button id="btn-get-datos-Ozono">Ver niveles de contaminación</button>
                </div>
                <div id="contaminante-Ozono" class="grafica-contaminante"></div>
            </div>
            <div class="container-grafica">
                <div class="header-grafica">
                    <p><strong>Contaminante SO2</strong> Día : <span id="dia-contaminante-SO2"></span> de Mayo</p>
                    <button id="btn-get-datos-SO2">Ver niveles de contaminación</button>
                </div>
                <div id="contaminante-SO2" class="grafica-contaminante"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static',filename='javascript/index.js') }}" ></script>
    <script>

        const contaminantesTipos = {
            PM10 : 'PM10',
            CO : 'CO',
            Ozono : 'Ozono',
            PM25 : 'PM25',
            SO2 : 'SO2',
            NO2 : 'NO2'
        };


        //con este botón, se manda a llamar la función en back para traer los valores
        //BOTON PM10
        let btnGetValuesPM10 = document.getElementById('btn-get-datos-PM10');
        btnGetValuesPM10.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='PM10') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.PM10);            
        });

        //BOTON CO
        let btnGetValuesCO = document.getElementById('btn-get-datos-CO');
        btnGetValuesCO.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='CO') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.CO);        
        });

        //BOTON OZONO
        let btnGetValuesOzono = document.getElementById('btn-get-datos-Ozono');
        btnGetValuesOzono.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='Ozono') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.Ozono);            
        });

        //BOTON PM 2.5
        let btnGetValuesPM25 = document.getElementById('btn-get-datos-PM25');
        btnGetValuesPM25.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='PM25') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.PM25);            
        });

        //BOTON SO2
        let btnGetValuesSO2 = document.getElementById('btn-get-datos-SO2');
        btnGetValuesSO2.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='SO2') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.SO2);            
        });
        //BOTON NO2
        let btnGetValuesNO2 = document.getElementById('btn-get-datos-NO2');
        btnGetValuesNO2.addEventListener('click',()=>{
            var urlContaminante = "{{ url_for('datosMes', mes='05',contaminante='NO2') }}";
            traerNivelesContaminante(urlContaminante,contaminantesTipos.NO2);            
        });
        let drawPaht = () =>{
            var canvas = document.getElementById("puntos");
            var context = canvas.getContext('2d');
            if(canvas.getContext){
                //Background is static
                var b64 = canvas.toDataURL();
                canvas.style.backgroundImage = 'url(' + "{{ url_for('static', filename='images/espacio.png') }}" + ")";
                
                let xPos = 100, yPos = 100;
                    
                var t = setInterval(()=>{
                    if(xPos > canvas.clientWidth || yPos > canvas.clientHeight){
                        clearInterval(t);
                    }
                    context.beginPath();
                    context.arc(xPos,yPos,20,0,2*Math.PI);
                    context.fillStyle = 'rgb(128,128,128)';
                    context.fill();
                    xPos += 60;
                    yPos += 60;
                    console.log("sigue...");
                }, 1000);

                context.beginPath();
                context.arc(55,55,50,0,2 * Math.PI);    //x,y,inicio angulo,fin angulo,parte de círculo
                
                context.stroke();
            }else{
                console.log("nah");
            }
        }

        let draw = ()=>{
            var canvas = document.getElementById("tuto");
            if(canvas.getContext){
                var context = canvas.getContext('2d');
                context.fillStyle = 'rgb(200,0,0)';
                context.fillRect(10,10,50,50);  //de rojo solo esta parte de los pixeles

                context.fillStyle = 'rgba(0,0,200,0.5)';
                context.fillRect(30,30,50,50);

                context.strokeRect(20,20,90,09);
                context.clearRect(20,25,20,20);
                
            }else{
                console.log("boo too bad")
            }
        }
        //draw();
        //drawPaht();
        //window.onload(draw);
        
    </script>
</body>