<!DOCTYPE html>
<head>
    <title>Generadores</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
</head>
<body>
    <div class="form-generador">
        <h2>Generador Multiplicativo</h2>
        <form method="POST" id="form-Multiplicativo"> 
            <label for="_x0">Valor de 'x0'</label>
            <input type="text" name="multiplicativo_x0">
            <label for="_a">Valor de 'a'</label>
            <input type="text" name="multiplicativo_a">
            <label for="_m">Valor de 'm'</label>
            <input type="text" name="multiplicativo_m">
            <button type="submit">Calcular</button>
        </form>
    </div>

    {% if periodo %}
    {{ periodo }}
    {% endif %}

    {% if nums %}
    {{ nums }}
    {% endif %}
</body>